<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome to Paradigm Leadership</title>
</head>
<body>
  <h2>Hello {{name}}!</h2>
  <p>We're excited you have chosen to serve on leadership at Paradigm! Please follow the link below to sign up for our leaders' portal</p>
  <a href="https://next-steps.cauble.io/auth/invite?email={{email}}&inviteCode={{code}}">Sign Up</a>
</body>
</html>